{{ define "content" }}
<nav class="navigator">
  <a href="/?lang={{ .lang }}" class="nav-brand">BiomassX</a>
  <a href="/order?lang={{ .lang }}">Trade</a> | <a href="/markets?lang={{ .lang }}">Markets</a> | <a href="/productspage?lang={{ .lang }}">Products</a> | <a href="services?lang={{ .lang }}">Services</a> | <a href="/login?lang={{ .lang }}">Login</a>
</nav>

<main class="main-dashboard">
  <h2>Services</h2>
    <a>
      <b>Main services:</b><br>
        <br>&nbsp; &nbsp;1. Transportation services<br> 
        <br>&nbsp; &nbsp;2. Storage and warehousing services<br>
        <br>&nbsp; &nbsp;3. Wharf and port services<br>
        <br>&nbsp; &nbsp;4. Inspections, testing and fumigation services<br>
        <br>&nbsp; &nbsp;5. Waste management services<br>
        <br>&nbsp; &nbsp;6. Technology and equipment services<br>
        <br>&nbsp; &nbsp;7. Operation and maintenance services<br>
        <br>&nbsp; &nbsp;8. Consulting services<br>
        <br>&nbsp; &nbsp;9. R&D services<br>
        <br>
      <b>Subservices:</b><br>
    </a>
</main>

<footer class="footer">
  <br>
  <a href="/about?lang={{ .lang }}">About us</a> | <a href="/faqs?lang={{ .lang }}">FAQs</a> | <a href="/contact?lang={{ .lang }}">Contact us</a><br>
  <p>BIOMASS EXCHANGE CO., LTD.</p>
  <br>
</footer>
{{ end }}