{{ define "content" }}
<nav class="navigator">
    <a href="/?lang={{ .lang }}"class="nav-brand">BiomassX</a>
    <a href="/order?lang={{ .lang }}">เสนอซื้อขาย</a> | <a href="/markets?lang={{ .lang }}">ตลาด</a> | <a href="/productspage?lang={{ .lang }}">สินค้า</a> | <a href="/services?lang={{ .lang }}">บริการ</a> | <a href="/login?lang={{ .lang }}">เข้าสู่ระบบ</a>
  </nav>

<main class="main-dashboard">
<h3>คำถามที่พบบ่อย</h3>
</main>

<footer class="footer">
  <br>
  <a href="/about?lang={{ .lang }}">เกี่ยวกับเรา</a> | <a href="/faqs?lang={{ .lang }}">คำถามพบบ่อย</a> | <a href="/contact?lang={{ .lang }}">ติดต่อเรา</a><br>
  <p>บริษัท ไบโอแมส เอ็กซ์เชนจ์ จำกัด</p>
  <br>
  </footer>
{{ end }}
