{{ define "content" }}
<nav class="navigator">
    <a href="/?lang={{ .lang }}"class="nav-brand">BiomassX</a>
    <a href="/order?lang={{ .lang }}">เสนอซื้อขาย</a> | <a href="/markets?lang={{ .lang }}">ตลาด</a> | <a href="/productspage?lang={{ .lang }}">สินค้า</a> | <a href="/services?lang={{ .lang }}">บริการ</a> | <a href="/login?lang={{ .lang }}">เข้าสู่ระบบ</a>
</nav>
<body>
<main>
    <table>
        <tr><th>ลำดับที่</th><th>ชื่ออังกฤษ</th><th>ชื่อไทย</th></tr>
        <tr><td>1</td><td>Acacia wood logs</td><td>ไม้ท่อน (กระถินเทพา/ณรงค์/ลูกผสม)</td></tr>
        <tr><td>2</td><td>Bio-CNG</td><td>ไบโอ CNG</td></tr>
        <tr><td>3</td><td>Bio-Diesel</td><td>ไบโอดีเซล</td></tr>
        <tr><td>4</td><td>Bio-Ethanol</td><td>ไบโอเอทานอล</td></tr>
        <tr><td>5</td><td>Bio-LNG</td><td>ไบโอ LNG</td></tr>
        <tr><td>6</td><td>Biocoal (woody biocoal)</td><td>ถ่านหินชีวภาพ (ไม้)</td></tr>
        <tr><td>7</td><td>Biocoal (non-woody biocoal)</td><td>ถ่านหินชีวภาพ (ไม่ใช่ไม้)</td></tr>
        <tr><td>8</td><td>Biogas</td><td>ไบโอแก๊ส</td></tr>
        <tr><td>9</td><td>Biomethane</td><td>ไบโอมีเทน</td></tr>
        <tr><td>10</td><td>Black liquor</td><td>น้ำมันยางดำ</td></tr>
        <tr><td>11</td><td>Brewery waste</td><td>กากเบียร์</td></tr>
        <tr><td>12</td><td>Butanol</td><td>บิวทานอล</td></tr>
        <tr><td>13</td><td>Cassava leaves</td><td>ใบมันสำปะหลัง</td></tr>
        <tr><td>14</td><td>Cassava rhizome</td><td>เหง้ามัน</td></tr>
        <tr><td>15</td><td>Cassava stalks</td><td>ต้นมันสำปะหลัง</td></tr>
        <tr><td>16</td><td>Cellulosic Ethanol</td><td>เอทานอลจากเซลลูโลส</td></tr>
        <tr><td>17</td><td>Chlorella</td><td>สาหร่ายคลอเรลล่า</td></tr>
        <tr><td>18</td><td>Coconut carp</td><td>เปลือกมะพร้าว</td></tr>
        <tr><td>19</td><td>Coconut kernel shell (CKS)</td><td>กะลามะพร้าว</td></tr>
        <tr><td>20</td><td>Coconut stover</td><td>ทางมะพร้าว</td></tr>
        <tr><td>21</td><td>Cooling purchase agreement (CPA)</td><td>ความเย็น</td></tr>
        <tr><td>22</td><td>Corn leaves</td><td>ใบข้าวโพด</td></tr>
        <tr><td>23</td><td>Corn stalks</td><td>ฟางข้าวโพด</td></tr>
        <tr><td>24</td><td>Corncob</td><td>ซังข้าวโพด</td></tr>
        <tr><td>25</td><td>Cotton stalks</td><td>ต้นนุ่น</td></tr>
        <tr><td>26</td><td>Demolition wood</td><td>เศษไม้ก่อสร้าง</td></tr>
        <tr><td>27</td><td>Distillery waste</td><td>กากการกลั่น</td></tr>
        <tr><td>28</td><td>Duckweed</td><td>แหน</td></tr>
        <tr><td>29</td><td>Dunaiella</td><td>สาหร่ายดูนาลิเอลล่า</td></tr>
        <tr><td>30</td><td>Eucalyptus wood logs</td><td>ไม้ท่อน (ยูคาลิปตัส)</td></tr>
        <tr><td>31</td><td>Eucalyptus stumpage</td><td>ตอไม้ยูคาลิปตัส</td></tr>
        <tr><td>32</td><td>Firewood</td><td>ไม้ฟืน</td></tr>
        <tr><td>33</td><td>Food waste</td><td>เศษอาหาร</td></tr>
        <tr><td>34</td><td>Fruit pomace</td><td>กากผลไม้</td></tr>
        <tr><td>35</td><td>Giant reed</td><td>ต้นอ้อยักษ์</td></tr>
        <tr><td>36</td><td>Green Hydrogen</td><td>กรีนไฮโดรเจน</td></tr>
        <tr><td>37</td><td>Heating purchase agreement (HPA)</td><td>ความร้อน</td></tr>
        <tr><td>38</td><td>Hemp</td><td>กัญชง</td></tr>
        <tr><td>39</td><td>Hydrotreated Vegetable Oil (HVO)</td><td>น้ำมัน HVO</td></tr>
        <tr><td>40</td><td>Jatropha</td><td>สบู่ดำ</td></tr>
        <tr><td>41</td><td>Kelp</td><td>สาหร่ายเคลป์</td></tr>
        <tr><td>42</td><td>Kenaf</td><td>ปอ</td></tr>
        <tr><td>43</td><td>Leucaena wood logs</td><td>ไม้ท่อน (กระถินยักษ์)</td></tr>
        <tr><td>44</td><td>Logging residues</td><td>ปลายไม้ในแปลง(ทำไม้)</td></tr>
        <tr><td>45</td><td>Manure</td><td>ปุ๋ยมูลสัตว์</td></tr>
        <tr><td>46</td><td>Miscanthus</td><td>หญ้ามิสแคนทัส</td></tr>
        <tr><td>47</td><td>Napier grass</td><td>หญ้าเนเปียร์</td></tr>
        <tr><td>48</td><td>Pallets</td><td>ไม้พาเลทรองสินค้า</td></tr>
        <tr><td>49</td><td>Palm empty fruit bunches (EFB)</td><td>ทะลายปาล์ม</td></tr>
        <tr><td>50</td><td>Palm kernel shell (PKS)</td><td>กะลาปาล์ม</td></tr>
        <tr><td>51</td><td>Palm stover </td><td>ทางปาล์ม</td></tr>
        <tr><td>52</td><td>Palm stumpage</td><td>ตอปาล์ม</td></tr>
        <tr><td>53</td><td>Palm trunk</td><td>ต้นปาล์ม</td></tr>
        <tr><td>54</td><td>Paper and cardboard</td><td>กระดาษและกระดาษแข็ง</td></tr>
        <tr><td>55</td><td>Paper sludge</td><td>กากตะกอนเยื่อกระดาษ</td></tr>
        <tr><td>56</td><td>Rubber wood logs</td><td>ไม้ท่อน (ยางพารา)</td></tr>
        <tr><td>57</td><td>Pine wood logs</td><td>ไม้ท่อน (สน)</td></tr>
        <tr><td>58</td><td>Pineapple leaves</td><td>ใบสับปะรด</td></tr>
        <tr><td>59</td><td>Poplar</td><td>ไม้โ๊ป๊บล่าร์</td></tr>
        <tr><td>60</td><td>Poutry litter</td><td>วัสดุรองคอสัตว์ปีก</td></tr>
        <tr><td>61</td><td>Power/Electricity/Bio-power (PPA)</td><td>ไฟฟ้า</td></tr>
        <tr><td>62</td><td>Press cakes</td><td>เค้กอุตสาหกรรมน้ำมันพืช</td></tr>
        <tr><td>63</td><td>Red algae</td><td>สาหร่ายแดง (โรโดไฟตา)</td></tr>
        <tr><td>64</td><td>Reed canary grass</td><td>หญ้าริบบิ้น</td></tr>
        <tr><td>65</td><td>Renewable Natural Gas (RNG)</td><td>ก๊าชธรรมชาติหมุนเวียน</td></tr>
        <tr><td>66</td><td>Rice husk</td><td>แกลบ</td></tr>
        <tr><td>67</td><td>Rice straw</td><td>ฟางข้าว</td></tr>
        <tr><td>68</td><td>Rubber stumpage</td><td>ตอไม้ยางพารา</td></tr>
        <tr><td>69</td><td>Sargassum</td><td>สาหร่ายซาร์กาสซัม</td></tr>
        <tr><td>70</td><td>Sawdust</td><td>ขี้เลื่อย</td></tr>
        <tr><td>71</td><td>Seaweed</td><td>สาหร่ายทะเล</td></tr>
        <tr><td>72</td><td>Sewage sludge</td><td>กากตะกอนน้ำเสีย</td></tr>
        <tr><td>73</td><td>Shavings</td><td>ขี้กบ</td></tr>
        <tr><td>74</td><td>Slaughterhouse waste</td><td>กากโรงฆ่าสัตว์</td></tr>
        <tr><td>75</td><td>Sorghum</td><td>ข้าวฟ่าง</td></tr>
        <tr><td>76</td><td>Spirulina</td><td>สาหร่ายสไปรูลินา</td></tr>
        <tr><td>77</td><td>Steam purchase agreement (SPA)</td><td>ไอน้ำ</td></tr>
        <tr><td>78</td><td>Sugarcane bagasse</td><td>ชานอ้อย</td></tr>
        <tr><td>79</td><td>Sugarcane leaves</td><td>ใบอ้อย</td></tr>
        <tr><td>80</td><td>Switchgrass</td><td>หญ้าสวิตซ์กราซ</td></tr>
        <tr><td>81</td><td>Tree pruning</td><td>เศษตัดแต่งส่วนไม้ตาย</td></tr>
        <tr><td>82</td><td>Tree thinning</td><td>เศษตัดขยายระยะ</td></tr>
        <tr><td>83</td><td>Tree trimmings</td><td>เศษตัดแต่งต้นไม้</td></tr>
        <tr><td>84</td><td>Used vegetable oils (UVO)</td><td>น้ำมันพืชใช้แล้ว</td></tr>
        <tr><td>85</td><td>Waste vegetable oils</td><td>กากน้ำมันพืช</td></tr>
        <tr><td>86</td><td>Water hyacinth</td><td>ผักตบชวา</td></tr>
        <tr><td>87</td><td>Wheat straw</td><td>ฟางข้าวฟ่าง</td></tr>
        <tr><td>88</td><td>Willow</td><td>ต้นหลิว</td></tr>
        <tr><td>89</td><td>Wood bark</td><td>เปลือกไม้</td></tr>
        <tr><td>90</td><td>Wood logs</td><td>ไม้ท่อน (ระบุชนิดไม้ที่หมายเหตุ)</td></tr>
        <tr><td>91</td><td>Wood chips (biofuels)</td><td>ไม้สับ (เชื้อเพลิง)</td></tr>
        <tr><td>92</td><td>Wood particles</td><td>ไม้ป่น</td></tr>
        <tr><td>93</td><td>Wood pellets</td><td>ไม้อัดเม็ด</td></tr>
        <tr><td>94</td><td>Wood briquettes</td><td>ไม้อัดก้อน</td></tr>
        <tr><td>95</td><td>Wood slabs</td><td>ปีกไม้</td></tr>
        <tr><td>96</td><td>Yard waste</td><td>ของเสียสวน</td></tr>
        <tr><td>97</td><td>Nut shells</td><td>เปลือกถั่ว</td></tr>
        <tr><td>98</td><td>Fruit pits</td><td>เมล็ดผลไม้</td><td></tr>
        <tr><td>99</td><td>Coffee grounds</td><td>กากกาแฟ</td></tr>
        <tr><td>100</td><td>Construction debris</td><td>เศษวัสดุก่อสร้าง</td></tr>
        <tr><td>101</td><td>Ulva</td><td>สาหร่ายผักกาดทะเล</td></tr>
        <tr><td>102</td><td>Gracilaria</td><td>สาหร่ายกราซิลาเรีย</td></tr>
        <tr><td>103</td><td>Bamboo</td><td>ไผ่</td></tr>
        <tr><td>104</td><td>Bamboo chips</td><td>ไผ่สับ</td></tr>
        <tr><td>105</td><td>Bamboo pellets</td><td>ไผ่อัดเม็ด</td></tr>
        <tr><td>106</td><td>Cassava stalk chips</td><td>ต้นมันสำปะหลังสับ</td></tr>
        <tr><td>107</td><td>Cassava stalk pellets</td><td>ต้นมันสำปะหลังอัดเม็ด</td></tr>
        <tr><td>108</td><td>Coconut carp chips</td><td>เปลือกมะพร้าวสับ</td></tr>
        <tr><td>109</td><td>Coconut carp pellets</td><td>เปลือกมะพร้าวอัดเม็ด</td></tr>
        <tr><td>110</td><td>Corncob chips</td><td>ซังข้าวโพดสับ</td></tr>
        <tr><td>111</td><td>Corncob pellets</td><td>ซังข้าวโพดอัดเม็ด</td></tr>
        <tr><td>112</td><td>Kenaf pellets</td><td>ปออัดเม็ด</td></tr>
        <tr><td>113</td><td>Napier grass pellets</td><td>หน้าเนเปียร์อัดเม็ด</td></tr>
        <tr><td>114</td><td>Rice straw pellets</td><td>ฟางข้าวอัดเม็ด</td></tr>
        <tr><td>115</td><td>Sorghum pellets</td><td>ต้นข้าวฟ่างอัดเม็ด</td></tr>
        <tr><td>116</td><td>Wheat straw pellets</td><td>ต้นข้าวสาลีอัดเม็ด</td></tr>
        <tr><td>117</td><td>Coffee grounds pellets</td><td>กากกาแฟอัดเม็ด</td></tr>
        <tr><td>118</td><td>Sugarcane leaf pellets</td><td>ใบอ้อยอัดเม็ด</td></tr>
        <tr><td>119</td><td>Bagasse pellets</td><td>ชานอ้อยอัดเม็ด</td></tr>
        <tr><td>120</td><td>Wood slabs</td><td>ปีกไม้</td></tr>
        <tr><td>121</td><td>Industrial grade potato starch</td><td>แป้งมันฝรั่งเกรดอุตสาหกรรม</td></tr>
        <tr><td>122</td><td>Coarse tapioca starch</td><td>แป้งมันสำปะหลังหยาบ</td></tr>
        <tr><td>123</td><td>Tapioca roots</td><td>หัวมันสด</td></tr>
        <tr><td>124</td><td>Tapioca chips</td><td>มันเส้น/มันสับ</td></tr>
        <tr><td>125</td><td>Sugarcane stover briquettes</td><td>ปลายอ้อยอัดแท่ง</td></tr>
        <tr><td>126</td><td>Bagasse briquettes</td><td>ชานอ้อยอัดแท่ง</td></tr>
        <tr><td>127</td><td>BioChar</td><td>ถ่านไบโอชาร์</td></tr>
        <tr><td>128</td><td>BioCoke</td><td>ถ่านโค้ก</td></tr>
        <tr><td>129</td><td>Charcoal</td><td>ถ่าน</td></tr> 
        <tr><td>130</td><td>Wood chips (pulp and pater)</td><td>ไม้สับ (เยื่อและกระดาษ)</td></tr>
        </table>
</main>
</body>

<footer class="footer">
    <br>
    <a href="/about?lang={{ .lang }}">เกี่ยวกับเรา</a> | <a href="/faqs?lang={{ .lang }}">คำถามพบบ่อย</a> | <a href="/contact?lang={{ .lang }}">ติดต่อเรา</a><br>
    <p>บริษัท ไบโอแมส เอ็กซ์เชนจ์ จำกัด</p>
    <br>
</footer>
{{ end }}